<a href="https://colab.research.google.com/github/duartejr/bootcamp_blue/blob/Gustavo/notebooks/avaliando_modelo_baseline.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Avaliando o Modelo Baseline

Neste notebook o dataset já esta separado e, apartir do modlo montado na *sprint 1* será avaliado com as mérticas com r2_score, mae e rmse pra servir de comparação com os outros modelos.

In [18]:
#Iportando as blibiotecas
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error

In [2]:
def rmse(y_teste,y_pred):
  mse = mean_squared_error(y_teste,y_pred)
  rmse = np.sqrt(mse)
  return rmse

In [3]:
def metricas(y_pred,y_true):
  print('R2 Score',r2_score(y_pred,y_true))
  print('MAE',mean_absolute_error(y_pred,y_true))
  print('RMSE',rmse(y_pred,y_true))

In [4]:
# Importando os arquivos csv que já foram separados
treino = pd.read_csv('/content/drive/MyDrive/Datasets/Cópia de train_data.csv')
teste = pd.read_csv('/content/drive/MyDrive/Datasets/Cópia de test_data.csv')

In [5]:
treino.head()

,name,category_1,category_2,category_3,item_condition_id,brand_name,price,shipping,item_description,date,stock
0,iphone 6s plus defender case,Electronics,Cell Phones & Accessories,"Cases, Covers & Skins",1,No Brand,10.0,1,protective case for the big iphones 6plus or 6...,15-6-2018,2
1,beautiful rainbow eye iphone plus case,Electronics,Cell Phones & Accessories,"Cases, Covers & Skins",1,No Brand,7.0,1,this soft case is brand new and features a bea...,12-12-2018,1
2,hold under armour women s t shirt bundle,Women,Athletic Apparel,Shirts & Tops,2,Under Armour,20.0,1,women s under armour t shirts with freedom log...,13-5-2018,11
3,nike shorts bundle,Women,Athletic Apparel,Shorts,3,Nike,18.0,1,no description yet,24-2-2018,4
4,bare mineral eye shadow lot,Beauty,Makeup,Eyes,3,No Brand,14.0,0,bare mineral eye shadow verity of colors bare ...,29-10-2018,11

In [6]:
teste.head()

,name,category_1,category_2,category_3,item_condition_id,brand_name,price,shipping,date,stock,item_description
0,women s motorcycle tshirt,Women,Tops & Blouses,T-Shirts,3,Harley-Davidson,6.0,1,9-4-2018,8,new in box pack
1,alex and ani necklace,Women,Jewelry,Necklaces,2,ALEX AND ANI,11.0,1,25-1-2018,8,laura mercier matte translucent lightly used g...
2,steve madden red lace up heels,Women,Shoes,Pumps,2,Steve Madden,36.0,0,30-11-2018,9,size large nwot aztec print ultimate leggings
3,men s black tuxedo,Men,Suits,Two Button,3,No Brand,54.0,0,30-7-2018,7,runs smoothly great condition
4,red open back mermaid style dress xs,Women,Dresses,Full-Length,1,No Brand,316.0,0,29-7-2018,34,size dark wash denim black skinny jeans excell...

In [7]:
print(treino.shape)
print(teste.shape)

(1037162, 11)
(444499, 11)

In [8]:
teste_200 = teste.iloc[:200,:]

In [9]:
# testando para as primeira 200 linhas do dataset
y_200_pred = []
for i in teste_200.index:
  c1 = teste_200["category_1"][i]
  c2 = teste_200["category_2"][i]
  c3 = teste_200["category_3"][i]
  y_200_pred.append(treino.query(f'category_1 == "{c1}" & category_2 == "{c2}" & category_3 == "{c3}"').price.mean())

demorou 21 segundo para carregar.

In [10]:
metricas(teste_200.price,y_200_pred)

R2 Score 0.1428321587656124
MAE 15.449813472393908
RMSE 30.029422210509296

testando agora com mil produtos

In [11]:
teste_mil = teste.iloc[:1000,:]

In [12]:
y_mil_pred = []
for i in teste_mil.index:
  c1 = teste_mil["category_1"][i]
  c2 = teste_mil["category_2"][i]
  c3 = teste_mil["category_3"][i]
  y_mil_pred.append(treino.query(f'category_1 == "{c1}" & category_2 == "{c2}" & category_3 == "{c3}"').price.mean())

demorou 1 minuto e 49 segundos

In [13]:
metricas(teste_mil.price,y_mil_pred)

R2 Score 0.16560478462729245
MAE 15.206935639226613
RMSE 27.694889743058596

In [14]:
#teste_50_mil = teste.iloc[:50000,:]

#y_50_mil_pred = []
#for i in teste_50_mil.index:
  #c1 = teste_50_mil["category_1"][i]
  #c2 = teste_50_mil["category_2"][i]
  #c3 = teste_50_mil["category_3"][i]
  #y_50_mil_pred.append(treino.query(f'category_1 == "{c1}" & category_2 == "{c2}" & category_3 == "{c3}"').price.mean())

demorou uma hora, 25 minutos e 28 segundos

teve problema que nesse dataset teve dois valores nulos e para não perder a comparação substitui os valores por 0

In [15]:
#y_50 = pd.Series(y_50_mil_pred)

In [16]:
#y_50.fillna(0,inplace=True)

In [17]:
#metricas(teste_50_mil.price,y_50)

trabalhando com uma amostra de mil linhas estratificada

In [19]:
amostra = train_test_split(teste, test_size=1000, random_state=101,
                           stratify=teste[['category_1', 'item_condition_id']])[1]

In [21]:
amostra_pred = []
for i in amostra.index:
  c1 = amostra["category_1"][i]
  c2 = amostra["category_2"][i]
  c3 = amostra["category_3"][i]
  amostra_pred.append(treino.query(f'category_1 == "{c1}" & category_2 == "{c2}" & category_3 == "{c3}"').price.mean())

rodou em 1 minuto e 43 segundos

In [22]:
metricas(amostra.price,amostra_pred)

R2 Score 0.28835263409263456
MAE 16.047992836587575
RMSE 33.02977183703876