<a href="https://colab.research.google.com/github/duartejr/bootcamp_blue/blob/Gustavo/notebooks/modelo_sgdr_e_extratree.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Modelo SDGRegressor e Extratreeregressor

In [ ]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import SGDRegressor
from sklearn.ensemble import ExtraTreesRegressor
from sklearn.svm import SVR
from sklearn import metrics

In [ ]:
def calc_metricas(obs, pred):
    r2 = metrics.r2_score(obs, pred).round(3)
    mape = (100 * metrics.mean_absolute_percentage_error(obs, pred)).round(3)
    mae = metrics.mean_absolute_error(obs, pred).round(2)
    rmse = (metrics.mean_squared_error(obs, pred)**0.5).round(2)
    msle = metrics.mean_squared_log_error(obs, pred).round(3)
    
    return [r2, mape, mae, rmse, msle]

def print_avaliacao(obs, pred):
    print('R² = %.3f' % metrics.r2_score(obs, pred))
    print('MAPE = %.3f %%' % (100 * metrics.mean_absolute_percentage_error(obs, pred)))
    print('MAE = U$S %.2f' % (metrics.mean_absolute_error(obs, pred)))
    print('RMSE = U$S %.2f' % metrics.mean_squared_error(obs, pred)**0.5)
    print('MSLE = %.3f' % metrics.mean_squared_log_error(obs, pred))

In [ ]:
dados_treino = pd.read_csv('/content/drive/MyDrive/Datasets/Cópia de train_data.csv')
dados_teste = pd.read_csv('/content/drive/MyDrive/Datasets/Cópia de test_data.csv')

In [ ]:
le_cat1 = LabelEncoder()
le_cat2 = LabelEncoder()
le_cat3 = LabelEncoder()
le_brand = LabelEncoder()

le_cat1 = le_cat1.fit(dados_treino.category_1)
le_cat2 = le_cat2.fit(dados_treino.category_2)
le_cat3 = le_cat3.fit(dados_treino.category_3)
le_brand = le_brand.fit(dados_treino.brand_name)

dados_treino['category_1'] = le_cat1.transform(dados_treino.category_1)
dados_treino['category_2'] = le_cat2.transform(dados_treino.category_2)
dados_treino['category_3'] = le_cat3.transform(dados_treino.category_3)
dados_treino['brand_name'] = le_brand.transform(dados_treino.brand_name)

In [ ]:
dic_cat1 = dict(zip(le_cat1.classes_, le_cat1.transform(le_cat1.classes_)))
dic_cat2 = dict(zip(le_cat2.classes_, le_cat2.transform(le_cat2.classes_)))
dic_cat3 = dict(zip(le_cat3.classes_, le_cat3.transform(le_cat3.classes_)))
dic_brand = dict(zip(le_brand.classes_, le_brand.transform(le_brand.classes_)))

In [ ]:
dados_teste = pd.read_csv('/content/drive/MyDrive/Datasets/Cópia de test_data.csv')
dados_teste['category_1'] = dados_teste['category_1'].map(dic_cat1).fillna(-1)
dados_teste['category_2'] = dados_teste['category_2'].map(dic_cat2).fillna(-1)
dados_teste['category_3'] = dados_teste['category_3'].map(dic_cat3).fillna(-1)
dados_teste['brand_name'] = dados_teste['brand_name'].map(dic_brand).fillna(-1)
dados_teste

,name,category_1,category_2,category_3,item_condition_id,brand_name,price,shipping,date,stock,item_description
0,women s motorcycle tshirt,10,104,751.0,3,1709.0,6.0,1,9-4-2018,8,new in box pack
1,alex and ani necklace,10,58,530.0,2,47.0,11.0,1,25-1-2018,8,laura mercier matte translucent lightly used g...
2,steve madden red lace up heels,10,88,629.0,2,3682.0,36.0,0,30-11-2018,9,size large nwot aztec print ultimate leggings
3,men s black tuxedo,5,94,811.0,3,2795.0,54.0,0,30-7-2018,7,runs smoothly great condition
4,red open back mermaid style dress xs,10,35,334.0,1,2795.0,316.0,0,29-7-2018,34,size dark wash denim black skinny jeans excell...
...,...,...,...,...,...,...,...,...,...,...,...
444494,pink vs sleep shorts,10,5,687.0,3,2928.0,12.0,0,16-12-2018,7,brown
444495,coach hand bag,10,112,392.0,3,926.0,86.0,0,15-11-2018,3,no description yet
444496,waffle knit sweater forever,10,97,226.0,3,1384.0,14.0,0,2-3-2018,4,untested parts only found in a clean out i did
444497,dr dre beats solo,1,100,381.0,3,457.0,69.0,0,19-3-2018,6,listing reserved please read full description ...
444498,grey nike sb shoes,5,88,303.0,2,2780.0,30.0,0,7-12-2018,1,includes case instructions

O SGDRegressor foi desconsiderando pois não faz boas estimativas

In [ ]:
#model = SGDRegressor()
X_treino = dados_treino[['category_1', 'category_2', 'category_3', 'brand_name', 'item_condition_id', 'shipping']]
y_treino = np.log(dados_treino['price'])
#model.fit(X_treino, y_treino)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_stochastic_gradient.py:1507: ConvergenceWarning: Maximum number of iteration reached before convergence. Consider increasing max_iter to improve the fit.
  ConvergenceWarning,

SGDRegressor()

tempo de treinamento 4 minutos e 51 segundos

In [ ]:
#dados_teste['pred'] =  np.exp(model.predict(dados_teste[['category_1', 
                                                 #'category_2', 
                                                 #'category_3', 
                                                 #'brand_name', 
                                                 #'item_condition_id', 
                                                 #'shipping']]))
#dados_teste.loc[dados_teste.pred < 3, 'pred'] = 3

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: RuntimeWarning: overflow encountered in exp

tempo de execução em 0,61 s

In [ ]:
#print_avaliacao(dados_teste['price'], dados_teste['pred'])

ValueError: ignored

In [ ]:
model2 = ExtraTreesRegressor()
model2.fit(X_treino, y_treino)

ExtraTreesRegressor()

tempo de execução 2 min e 6 segundos

In [ ]:
dados_teste['pred2'] =  np.exp(model2.predict(dados_teste[['category_1', 
                                                 'category_2', 
                                                 'category_3', 
                                                 'brand_name', 
                                                 'item_condition_id', 
                                                 'shipping']]))
dados_teste.loc[dados_teste.pred < 3, 'pred2'] = 3

tempo de execução 18s

In [ ]:
print_avaliacao(dados_teste['price'], dados_teste['pred2'])

R² = 0.298
MAPE = 49.286 %
MAE = U$S 12.29
RMSE = U$S 32.17
MSLE = 0.312

In [ ]:

avaliacoes = {}

for categoria in dados_teste.category_1.unique():
    dados_cat = dados_teste.query(f'category_1 == {categoria}')
    avaliacoes[categoria] = calc_metricas(dados_cat['price'], dados_cat['pred2'])

avaliacoes = pd.DataFrame(avaliacoes, index=['R²', 'MAPE', 'MAE', 'RMSE', 'MSLE'])

avaliacoes.columns = ['Women', 'Men', 'Vintage & Collectibles', 'Electronics',
                      'Beauty', 'Kids', 'Other', 'Home', 'Sports & Outdoors',
                      'Handmade', 'No category']

avaliacoes

,Women,Men,Vintage & Collectibles,Electronics,Beauty,Kids,Other,Home,Sports & Outdoors,Handmade,No category
R²,0.298,0.419,0.192,0.344,0.052,0.199,0.092,0.145,0.163,0.158,-0.040
MAPE,45.197,48.317,63.156,61.720,49.423,49.143,55.923,50.112,54.922,50.858,64.544
MAE,12.280,15.120,15.750,19.740,9.120,9.510,10.910,11.340,12.880,9.110,14.610
RMSE,32.800,30.550,45.590,53.330,23.600,19.910,26.150,21.550,27.190,23.010,30.900
MSLE,0.274,0.293,0.473,0.431,0.309,0.304,0.382,0.322,0.378,0.331,0.524

## Modelo por Categorias

In [ ]:
modelos = {}

for category in dados_treino.category_1.unique():
    model = ExtraTreesRegressor()
    modelos[category] = model
    X_treino = dados_treino.query(f'category_1 == {category}')[['category_2', 'category_3', 'brand_name', 'item_condition_id', 'shipping']]
    y_treino = np.log(dados_treino.query(f'category_1 == {category}')['price'])
    # pipe.fit(X_treino, y_treino)
    modelos[category].fit(X_treino, y_treino)

tempo de processamento 1 minuto e 13 segundos

In [ ]:
dados_teste = dados_teste.assign(pred=0)
for category in dados_teste.category_1.unique():
    index = dados_teste.query(f'category_1 == {category}').index
    dados_teste.loc[index, 'pred'] = np.exp(modelos[category].predict(dados_teste.loc[index][['category_2', 
                                                                                              'category_3', 
                                                                                              'brand_name', 
                                                                                              'item_condition_id',
                                                                                              'shipping']]))

tempo de processamento 10 s

Avakiação Geral

In [ ]:
print_avaliacao(dados_teste['price'], dados_teste['pred'])

R² = 0.296
MAPE = 49.365 %
MAE = U$S 12.30
RMSE = U$S 32.19
MSLE = 0.313

In [ ]:
# Avaliação por categoria
avaliacoes = {}

for categoria in dados_teste.category_1.unique():
    dados_cat = dados_teste.query(f'category_1 == {categoria}')
    avaliacoes[categoria] = calc_metricas(dados_cat['price'], dados_cat['pred'])

avaliacoes = pd.DataFrame(avaliacoes, index=['R²', 'MAPE', 'MAE', 'RMSE', 'MSLE'],
                          )
avaliacoes.columns = ['Women', 'Men', 'Vintage & Collectibles', 'Electronics',
                      'Beauty', 'Kids', 'Other', 'Home', 'Sports & Outdoors',
                      'Handmade', 'No category']
avaliacoes

,Women,Men,Vintage & Collectibles,Electronics,Beauty,Kids,Other,Home,Sports & Outdoors,Handmade,No category
R²,0.297,0.414,0.184,0.344,0.052,0.199,0.091,0.144,0.163,0.159,-0.045
MAPE,45.271,48.686,63.347,61.737,49.448,49.195,55.942,50.151,54.977,50.898,65.015
MAE,12.300,15.190,15.800,19.750,9.120,9.510,10.910,11.340,12.880,9.120,14.690
RMSE,32.820,30.670,45.830,53.330,23.600,19.910,26.160,21.560,27.180,23.000,30.970
MSLE,0.275,0.297,0.475,0.431,0.309,0.304,0.383,0.323,0.379,0.331,0.528