In [18]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler

In [19]:
dados_treino = pd.read_csv('../data/processed/train_data.csv')
dados_teste = pd.read_csv('../data/processed/test_data.csv')

In [20]:
le_cat1 = LabelEncoder()
le_cat2 = LabelEncoder()
le_cat3 = LabelEncoder()
le_brand = LabelEncoder()

le_cat1 = le_cat1.fit(dados_treino.category_1)
le_cat2 = le_cat2.fit(dados_treino.category_2)
le_cat3 = le_cat3.fit(dados_treino.category_3)
le_brand = le_brand.fit(dados_treino.brand_name)

dados_treino['category_1'] = le_cat1.transform(dados_treino.category_1)
dados_treino['category_2'] = le_cat2.transform(dados_treino.category_2)
dados_treino['category_3'] = le_cat3.transform(dados_treino.category_3)
dados_treino['brand_name'] = le_brand.transform(dados_treino.brand_name)

In [21]:
dic_cat1 = dict(zip(le_cat1.classes_, le_cat1.transform(le_cat1.classes_)))
dic_cat2 = dict(zip(le_cat2.classes_, le_cat2.transform(le_cat2.classes_)))
dic_cat3 = dict(zip(le_cat3.classes_, le_cat3.transform(le_cat3.classes_)))
dic_brand = dict(zip(le_brand.classes_, le_brand.transform(le_brand.classes_)))

In [22]:
dados_teste = pd.read_csv('../data/processed/test_data.csv')
dados_teste['category_1'] = dados_teste['category_1'].map(dic_cat1).fillna(-1)
dados_teste['category_2'] = dados_teste['category_2'].map(dic_cat2).fillna(-1)
dados_teste['category_3'] = dados_teste['category_3'].map(dic_cat3).fillna(-1)
dados_teste['brand_name'] = dados_teste['brand_name'].map(dic_brand).fillna(-1)
dados_teste

,name,category_1,category_2,category_3,item_condition_id,brand_name,price,shipping,item_description,date,stock
0,women s motorcycle tshirt,10,104,751.0,3,1709.0,6.0,1,xl fits like a small,9-4-2018,8
1,alex and ani necklace,10,58,530.0,2,47.0,11.0,1,path of life alex and ani necklace in gold has...,25-1-2018,8
2,steve madden red lace up heels,10,88,629.0,2,3682.0,36.0,0,never been worn isn t true to size runs small,30-11-2018,9
3,men s black tuxedo,5,94,811.0,3,2795.0,54.0,0,worn a few times single pleated pants pants ar...,30-7-2018,7
4,red open back mermaid style dress xs,10,35,334.0,1,2795.0,316.0,0,this full length wine red mermaid style backle...,29-7-2018,34
...,...,...,...,...,...,...,...,...,...,...,...
444494,pink vs sleep shorts,10,5,687.0,3,2928.0,12.0,0,size small great condition barely ever worn to...,16-12-2018,7
444495,coach hand bag,10,112,392.0,3,926.0,86.0,0,this large black hobo coach is in a very good ...,15-11-2018,3
444496,waffle knit sweater forever,10,97,226.0,3,1384.0,14.0,0,great condition tags forever american apparel ...,2-3-2018,4
444497,dr dre beats solo,1,100,381.0,3,457.0,69.0,0,blue fits any head amazing sound no longer in use,19-3-2018,6
444498,grey nike sb shoes,5,88,303.0,2,2780.0,30.0,0,never been worn dark grey nike sb shoes,7-12-2018,1

In [23]:
dados_treino

,name,category_1,category_2,category_3,item_condition_id,brand_name,price,shipping,item_description,date,stock
0,iphone 6s plus defender case,1,23,169,1,2795,10.0,1,protective case for the big iphones 6plus or 6...,15-6-2018,2
1,beautiful rainbow eye iphone plus case,1,23,169,1,2795,7.0,1,this soft case is brand new and features a bea...,12-12-2018,1
2,hold under armour women s t shirt bundle,10,5,684,2,4022,20.0,1,women s under armour t shirts with freedom log...,13-5-2018,11
3,nike shorts bundle,10,5,687,3,2780,18.0,1,no description yet,24-2-2018,4
4,bare mineral eye shadow lot,0,63,295,3,2795,14.0,0,bare mineral eye shadow verity of colors bare ...,29-10-2018,11
...,...,...,...,...,...,...,...,...,...,...,...
1037157,herschel backpack,10,112,41,2,2795,20.0,0,herschel packable daypack only used a couple o...,30-7-2018,14
1037158,illamasqua beyond powder in omg,0,63,298,1,2795,25.0,1,product details a baked highlighting powder su...,19-8-2018,7
1037159,free ship tracking,7,72,682,1,2795,3.0,1,for,29-12-2018,7
1037160,pink 3ds xl,1,109,213,3,2790,85.0,1,comes with charger the stylus is not original,23-3-2018,7
1037161,lululemon size asana zip,10,5,430,2,2384,56.0,0,the perfect mid layer when we re heading to th...,17-4-2018,11

In [24]:
scaler_cat1 = MinMaxScaler()
scaler_cat2 = MinMaxScaler()
scaler_cat3 = MinMaxScaler()
scaler_brand = MinMaxScaler()

dados_treino['category_1'] = scaler_cat1.fit_transform(dados_treino[['category_1']])
dados_treino.category_2 = scaler_cat2.fit_transform(dados_treino[['category_2']])
dados_treino.category_3 = scaler_cat3.fit_transform(dados_treino[['category_3']])
dados_treino.brand_name = scaler_brand.fit_transform(dados_treino[['brand_name']])

dados_teste['category_1'] = scaler_cat1.transform(dados_teste[['category_1']])
dados_teste.category_2 = scaler_cat2.transform(dados_teste[['category_2']])
dados_teste.category_3 = scaler_cat3.transform(dados_teste[['category_3']])
dados_teste.brand_name = scaler_brand.transform(dados_teste[['brand_name']])

In [38]:
rfr = RandomForestRegressor(n_jobs=-1, random_state=101, criterion='poisson', warm_start=True)
X_treino = dados_treino[['category_1', 'category_2', 'category_3', 'brand_name', 'item_condition_id', 'shipping']]
y_treino = dados_treino['price']

rfr.fit(X_treino, y_treino)
pred = rfr.predict(dados_teste[['category_1', 'category_2', 'category_3', 'brand_name', 'item_condition_id', 'shipping']])

print('R² =', r2_score(dados_teste.price, pred))
print('RMSE =', mean_squared_error(dados_teste.price, pred)**0.5)
print('MAE =', mean_absolute_error(dados_teste.price, pred))

R² = 0.27003945598960133
RMSE = 32.777496631415865
MAE = 14.683978970819012

In [26]:
# amostra = train_test_split(dados_teste,
#                            test_size=1_000,
#                            random_state=101,
#                            stratify=dados_teste[['category_1', 'item_condition_id']])[1]

In [36]:
pred = rfr.predict(dados_teste[['category_1', 'category_2', 'category_3', 'brand_name', 'item_condition_id', 'shipping']])

In [37]:
print('R² =', r2_score(dados_teste.price, pred))
print('RMSE =', mean_squared_error(dados_teste.price, pred)**0.5)
print('MAE =', mean_absolute_error(dados_teste.price, pred))

R² = 0.34327609069203857
RMSE = 31.089769507643794
MAE = 13.151667895185113

R² = 0.34327609069203857

RMSE = 31.089769507643794

MAE = 13.151667895185113